*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111;
    color: #fff;
}

/* navbar */
header{
    background: #000;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    background: #fff;
    color: black;
    padding: 4px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    display: flex;
    
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo-icon{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.logo-text{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 15px;
}
.nav-links{
    list-style: none;
    display: flex;
    gap:30px;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    cursor: default;
}
.dropdown-parent a, .dropdown-menu a{
    cursor: pointer;
}
.dropdown-parent > a::after{
    content:none;
    font-size: 0.8em;
    margin-left: 4px;
}
.dropdown-menu li{
    padding: 8px 12px;
    /* white-space:; */
}

.dropdown-parent{
    position: relative;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background: #222;
    top:100%;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    min-width: 250px;
    width: auto;
}
.dropdown-parent:hover .dropdown-menu{
    display: block;
}
.nav-links li :hover{
    color: #aab8ff;
    font-family:Arial, Helvetica, sans-serif;
}

.menu-icon img{
    display: flex;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}





.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #111;
    position: relative;
    flex-wrap: wrap;
}
.hero-content{
    flex: 1;
    max-width: 500px;
    margin-left: 50px;
}
.hero-content h1{
    font-size: 40px;
    color: #aab8ff;
    margin-bottom: 10px;
}
.hero-content h2{
    font-size: 24px;
    margin-bottom: 20px;
}
.hero-content span{
    font-weight: bold;
    color: #fff;
}
.hero-content p{
    margin-bottom: 20px;
    color: #ccc;
}
.btn{
    padding: 12px 20px;
    background-color: #aab8ff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
.btn:hover{
    color: #fff;
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 250px;
    margin-left: 30px;
}
.image-circle{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    position:relative;
    background-color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    /* transform: translateX(30px); */
}
.image-circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: auto; */
    border-radius: 50%;
}


.stats{
    position: absolute;
    right: 60px;
    top:50%;
    transform: translateY(-50%);
    background-color: #000;
    padding:#000;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.stats div{
    margin-bottom: 20px;
    font-size: 25px;
}
.stats div h3{
    color: #aab8ff;
    font-size: #ccc;

}
.stats div p{
    color: #ccc;
}
.stats-item{
    border-bottom: 1px solid #444;
    padding-bottom: 15px;
}




.whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    
}
.whatsapp img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}